# 2024 날씨 빅데이터 콘테스트 

## 전력 분야 - 기상에 따른 공동주택 전력수요 예측 개선

In [76]:
import pandas as pd
import os

In [77]:
df = pd.read_csv('./data/electric_train_cp949.csv', encoding='cp949', index_col=0)
df['electric_train.tm'] = pd.to_datetime(df['electric_train.tm'])

print(df.shape)

(7593355, 16)

In [78]:
df.head()

,electric_train.num,electric_train.tm,electric_train.hh24,electric_train.n,electric_train.stn,electric_train.sum_qctr,electric_train.sum_load,electric_train.n_mean_load,electric_train.nph_ta,electric_train.nph_hm,electric_train.nph_ws_10m,electric_train.nph_rn_60m,electric_train.nph_ta_chi,electric_train.weekday,electric_train.week_name,electric_train.elec
1,4821,2021-01-01 01:00:00,1,11,884,6950,751.32,68.606449,2.2,62.7,1.8,0.0,-1.0,4,0,99.56
2,4821,2021-01-01 02:00:00,2,11,884,6950,692.60,68.606449,2.3,63.1,2.1,0.0,-0.6,4,0,91.78
3,4821,2021-01-01 03:00:00,3,11,884,6950,597.48,68.606449,2.2,62.4,2.5,0.0,-1.3,4,0,79.17
4,4821,2021-01-01 04:00:00,4,11,884,6950,553.48,68.606449,1.7,63.5,1.7,0.0,-0.2,4,0,73.34
5,4821,2021-01-01 05:00:00,5,11,884,6950,526.24,68.606449,1.7,63.0,1.6,0.0,-0.8,4,0,69.73

전력 데이터 

![image](https://github.com/khw11044/csv_dataset/assets/51473705/83b214a1-8661-465b-b176-6912d867f856)

In [79]:
elec_cols = ['electric_train.'+ a for a in ['tm', 'hh24', 'weekday', 'week_name', 'sum_qctr', 'n', 'sum_load', 'n_mean_load', 'elec']]

elec_cols

['electric_train.tm',
 'electric_train.hh24',
 'electric_train.weekday',
 'electric_train.week_name',
 'electric_train.sum_qctr',
 'electric_train.n',
 'electric_train.sum_load',
 'electric_train.n_mean_load',
 'electric_train.elec']

In [80]:
df_elec = df[elec_cols]
df_elec.head()

,electric_train.tm,electric_train.hh24,electric_train.weekday,electric_train.week_name,electric_train.sum_qctr,electric_train.n,electric_train.sum_load,electric_train.n_mean_load,electric_train.elec
1,2021-01-01 01:00:00,1,4,0,6950,11,751.32,68.606449,99.56
2,2021-01-01 02:00:00,2,4,0,6950,11,692.60,68.606449,91.78
3,2021-01-01 03:00:00,3,4,0,6950,11,597.48,68.606449,79.17
4,2021-01-01 04:00:00,4,4,0,6950,11,553.48,68.606449,73.34
5,2021-01-01 05:00:00,5,4,0,6950,11,526.24,68.606449,69.73

기상 데이터 

![image](https://github.com/khw11044/csv_dataset/assets/51473705/cc9f5973-b068-4c77-812a-dc68160cd285)

In [81]:
weat_cols = ['electric_train.'+ a for a in ['num', 'stn', 'nph_ta', 'nph_hm', 'nph_ws_10m', 'nph_rn_60m', 'nph_ta_chi']]

weat_cols

['electric_train.num',
 'electric_train.stn',
 'electric_train.nph_ta',
 'electric_train.nph_hm',
 'electric_train.nph_ws_10m',
 'electric_train.nph_rn_60m',
 'electric_train.nph_ta_chi']

In [82]:
df_weat = df[weat_cols]
df_weat.head()

,electric_train.num,electric_train.stn,electric_train.nph_ta,electric_train.nph_hm,electric_train.nph_ws_10m,electric_train.nph_rn_60m,electric_train.nph_ta_chi
1,4821,884,2.2,62.7,1.8,0.0,-1.0
2,4821,884,2.3,63.1,2.1,0.0,-0.6
3,4821,884,2.2,62.4,2.5,0.0,-1.3
4,4821,884,1.7,63.5,1.7,0.0,-0.2
5,4821,884,1.7,63.0,1.6,0.0,-0.8

In [83]:
df = pd.concat([df_elec, df_weat], axis=1)

df.head()

,electric_train.tm,electric_train.hh24,electric_train.weekday,electric_train.week_name,electric_train.sum_qctr,electric_train.n,electric_train.sum_load,electric_train.n_mean_load,electric_train.elec,electric_train.num,electric_train.stn,electric_train.nph_ta,electric_train.nph_hm,electric_train.nph_ws_10m,electric_train.nph_rn_60m,electric_train.nph_ta_chi
1,2021-01-01 01:00:00,1,4,0,6950,11,751.32,68.606449,99.56,4821,884,2.2,62.7,1.8,0.0,-1.0
2,2021-01-01 02:00:00,2,4,0,6950,11,692.60,68.606449,91.78,4821,884,2.3,63.1,2.1,0.0,-0.6
3,2021-01-01 03:00:00,3,4,0,6950,11,597.48,68.606449,79.17,4821,884,2.2,62.4,2.5,0.0,-1.3
4,2021-01-01 04:00:00,4,4,0,6950,11,553.48,68.606449,73.34,4821,884,1.7,63.5,1.7,0.0,-0.2
5,2021-01-01 05:00:00,5,4,0,6950,11,526.24,68.606449,69.73,4821,884,1.7,63.0,1.6,0.0,-0.8

![image](https://github.com/khw11044/csv_dataset/assets/51473705/c212e653-dcdc-49b3-bf75-ea356c7db0df)

## **전력기상지수** 

기상변화에 따른 지역별 공동주택의 예상되는 전력수요 변화를 기상예보처럼 국민들이 쉽게 인지할 수 있도록 수치화하여 최대 72h 예측해주는 서비스 

### **산출식**
해당지역 (5km x 5km) 공동주택의 연중 평균부하를 100으로 하였을 때, 특정시각의 전력수요 또는 예상전력수요를 상대비율로 표현한 값 

$\text{A격자 00시간의 전력기상지수} = \frac{A격자 00시각의 전력수요 (또는 예상 전력수요)}{A격자 해당년도 전시간 평균 전력수요}$

$\text{elec}_{i} = \frac{\text{(sum load)}_{i}}{\text{(n mean load)}_{i-1}}$

### **활용법**

전일 또는 지난주 대비 지수의 증감비율을 통해 전력수요 변화량 예상 

**예시)** 
- 전일 최고 전력기상지수가 100, 
- 당일 최고 전력기상지수가 125,
- 당일 최대수요는 전일대비 125/100 = 1.25배 (25%) 증가를 예상해 활용 


$\text{당일 최대수요 증감소율}_{i} = \frac{\text{당일 최고 전력기상지수}(\text{max}(elec_{i}))}{\text{전일 최고 전력기상지수}(\text{max}(elec_{i-1}))}$

- elec: 전력기상지수 
- sum_qctr: 계약전력합계
- n: 공동주택 수
- sum_load: 전력수요 합계 
- n_mean_load: 전력부하량 평균 

### **검증 데이터**
**검증 데이터**는 전력기상지수를 산출할 수 있는 변수인 sum_qctr(계약전력합계), n(공동주택 수), sum_load(전력수요 합계), n_mean_load(전력부하량 평균)를 제외하고 제공 

$\text{elec}_{i} = \frac{\text{(sum load)}_{i}}{\text{(n mean load)}_{i-1}}$


## **목표**
공동주택 전력수요 예측 

1. 공공데이터를 활용하여 공동주택 전력수요 증감 영향 요인 분석 
2. 계절, 지역에 따른 모델 세분화를 통한 공동주택 전력 수요 예측 (전력기상지수(electric_train.elec)) 최적모델 개발

In [84]:
df_train = df[df['electric_train.tm'] < '2023-01-01']
df_val = df[df['electric_train.tm'] >= '2023-01-01'].drop(['electric_train.sum_qctr', 'electric_train.n', 'electric_train.sum_load', 'electric_train.n_mean_load'], axis=1)
# df_val는 다른 features에서 계산을 통해 구한 후 채워넣야 할듯? <-- 훈련 데이터에서는 사용하기 때문 (내 생각.....)

In [85]:
# 훈련데이터
df_train.tail()

,electric_train.tm,electric_train.hh24,electric_train.weekday,electric_train.week_name,electric_train.sum_qctr,electric_train.n,electric_train.sum_load,electric_train.n_mean_load,electric_train.elec,electric_train.num,electric_train.stn,electric_train.nph_ta,electric_train.nph_hm,electric_train.nph_ws_10m,electric_train.nph_rn_60m,electric_train.nph_ta_chi
7593350,2022-12-31 19:00:00,19,5,1,34200,23,6851.72,225.461986,132.13,20947,671,2.7,45.4,3.2,0.0,-0.4
7593351,2022-12-31 20:00:00,20,5,1,34200,23,6779.84,225.461986,130.74,20947,671,2.7,46.3,3.1,0.0,-0.4
7593352,2022-12-31 21:00:00,21,5,1,34200,23,6802.40,225.461986,131.18,20947,671,2.6,46.8,3.1,0.0,-0.5
7593353,2022-12-31 22:00:00,22,5,1,34200,23,6706.68,225.461986,129.33,20947,671,2.4,47.4,2.1,0.0,0.2
7593354,2022-12-31 23:00:00,23,5,1,34200,23,6355.88,225.461986,122.57,20947,671,2.5,47.0,2.1,0.0,0.3

In [86]:
# 검증데이터
df_val.head()

,electric_train.tm,electric_train.hh24,electric_train.weekday,electric_train.week_name,electric_train.elec,electric_train.num,electric_train.stn,electric_train.nph_ta,electric_train.nph_hm,electric_train.nph_ws_10m,electric_train.nph_rn_60m,electric_train.nph_ta_chi
35064,2023-01-01,24,6,1,99.64,5565,184,4.8,66.9,2.9,0.0,2.1
61368,2023-01-01,24,6,1,104.26,5566,184,4.8,66.9,2.9,0.0,2.1
96432,2023-01-01,24,6,1,107.96,8994,261,-3.1,91.7,0.2,0.0,-3.1
140280,2023-01-01,24,6,1,111.51,9736,774,-1.4,86.8,0.9,0.0,-1.4
166584,2023-01-01,24,6,1,106.43,9758,168,3.9,68.7,1.6,0.0,-2.2

## 훈련 Features와 정답 label 분리

In [88]:
target = 'electric_train.elec'

In [89]:
train_X = df_train.drop(target, axis=1)
train_Y = df_train[target]

val_X = df_val.drop(target, axis=1)
val_Y = df_val[target]