# 2024 날씨 빅데이터 콘테스트 

## 전력 분야 - 기상에 따른 공동주택 전력수요 예측 개선

In [2]:
import pandas as pd
import os 

import matplotlib.pyplot as plt
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

import seaborn as sns
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

In [3]:
df = pd.read_csv('./data/electric_test_cp949.csv', encoding='cp949', index_col=0)
df['electric_test.tm'] = pd.to_datetime(df['electric_test.tm'])

print(df.shape)

(2838239, 11)

In [4]:
df.head()

,electric_test.num,electric_test.tm,electric_test.hh24,electric_test.stn,electric_test.nph_ta,electric_test.nph_hm,electric_test.nph_ws_10m,electric_test.nph_rn_60m,electric_test.nph_ta_chi,electric_test.weekday,electric_test.week_name
1,2385,2023-01-01 01:00:00,1,303,7.8,61.5,6.7,0.0,4.2,6,1
2,2385,2023-01-01 02:00:00,2,303,7.9,60.6,7.6,0.0,4.0,6,1
3,2385,2023-01-01 03:00:00,3,303,8.2,61.9,8.7,0.0,4.1,6,1
4,2385,2023-01-01 04:00:00,4,303,8.4,60.9,9.2,0.0,4.3,6,1
5,2385,2023-01-01 05:00:00,5,303,8.5,60.9,9.5,0.0,4.3,6,1

In [5]:
print(len(df['electric_test.num'].unique()))

324

In [6]:
df['electric_test.num'].unique()

array([ 2385,  4816, 16140,  9735,  9884,  9736,  9885, 16143, 16292,
       18527,  5565, 11376, 18528,  4821,  5566, 18529,  5567,  8994,
       14805, 16593, 18232, 18381, 18530, 18679, 18828, 18977, 13614,
       18233, 18382, 18531, 18680, 18829, 18978, 19127, 19276, 13615,
       18085, 18234, 18383, 18532, 18681, 18830, 18979, 19128, 19277,
       19426, 10487, 10934, 11083, 17639, 17937, 18086, 18235, 18384,
       18533, 18682, 18831, 18980, 19129, 19725, 10935, 11084, 11233,
       12276, 16001, 16895, 17938, 18087, 18236, 18385, 18534, 18683,
       18832, 18981, 19279, 10787, 10936, 11085, 11234, 16896, 17343,
       17790, 17939, 18088, 18237, 18386, 18535, 18684, 18833, 18982,
       10937, 11086, 13470, 13619, 16301, 17642, 17791, 17940, 18089,
       18238, 18387, 18536, 18685, 18834, 18983, 16153, 16302, 17196,
       17494, 17643, 17792, 17941, 18090, 18239, 18388, 18537, 18686,
       18835, 18984, 19133, 19282, 19431, 19580, 19878, 13174, 13323,
       14366, 16303, 16452, 16899, 17048, 17346, 17495, 17644, 17793,
       17942, 18091, 18240, 18389, 18538, 18687, 18836, 18985, 19134,
       19283, 19432, 19581, 13026, 13175, 13324, 15261, 16304, 16453,
       16900, 17794, 17943, 18092, 18241, 18390, 18539, 18688, 18837,
       18986, 19135, 19284, 13176, 17795, 18242, 18689, 18838, 18987,
       19136, 19285, 14667, 15263, 15412, 17051, 18243, 19137, 14668,
       14817, 14966, 15264, 15711, 14669, 14818, 14967, 15116, 11839,
       14819, 14968, 15117, 15713, 15862, 16905, 17948, 14820, 15714,
       15863, 16906, 17800, 18545, 10351, 10352, 17951, 19740,  9758,
       10354, 19741, 19890,  9759, 14378, 16913, 18105, 12742, 16914,
       18106, 18255, 10361, 10808, 11106, 14235, 11107, 11256, 14236,
       15130, 15726, 17514, 14090, 14239, 14388, 13793, 14091, 14240,
       10069, 10218, 12751, 13347, 14092, 14241, 17668, 10070, 12901,
       13199, 13348, 20947, 11412, 13200, 13349, 13498, 13647, 11115,
       11264, 11413, 13201, 13350, 13499, 13648, 10222, 11414, 13202,
       13351, 13500, 13649, 15735, 10223, 11117, 11266, 11564, 13203,
       13352, 13501, 11565, 12161, 13204, 19611, 10970, 11119, 11268,
       19612, 11418, 10972, 11419, 13803, 17677, 10824, 10973, 11122,
       11271, 11718, 18870, 10974, 11123, 11272, 11421, 11719, 10975,
       11124, 11273, 11422, 11571, 18574, 11125, 11274, 11423, 11870,
       12019, 13360, 11126, 11275, 11424, 12467, 13510, 12468, 12320,
       12469, 12618, 12767, 13959, 14108, 12619, 13811, 14258, 12322],
      dtype=int64)

In [7]:
df.columns

Index(['electric_test.num', 'electric_test.tm', 'electric_test.hh24',
       'electric_test.stn', 'electric_test.nph_ta', 'electric_test.nph_hm',
       'electric_test.nph_ws_10m', 'electric_test.nph_rn_60m',
       'electric_test.nph_ta_chi', 'electric_test.weekday',
       'electric_test.week_name'],
      dtype='object')

In [8]:
elec_cols = ['electric_test.'+ a for a in ['tm', 'hh24', 'weekday', 'week_name']]

weat_cols = ['electric_test.'+ a for a in ['num', 'stn', 'nph_ta', 'nph_hm', 'nph_ws_10m', 'nph_rn_60m', 'nph_ta_chi']]

reset_order_cols = elec_cols + weat_cols

df_new = df[reset_order_cols]
colunms = {}
for col in reset_order_cols:
    colunms[col] = col.split('.')[1]

df_new = df_new.rename(columns=colunms)

df_new['year'] = df_new['tm'].dt.year
df_new['month'] = df_new['tm'].dt.month
df_new['day'] = df_new['tm'].dt.day
df_new = df_new.sort_values(by='tm')

# 시즌을 결정하는 함수
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'

# 'season' 컬럼 추가
df_new['season'] = df_new['tm'].dt.month.apply(get_season)

df_new.head()

,tm,hh24,weekday,week_name,num,stn,nph_ta,nph_hm,nph_ws_10m,nph_rn_60m,nph_ta_chi,year,month,day,season
1,2023-01-01 01:00:00,1,6,1,2385,303,7.8,61.5,6.7,0.0,4.2,2023,1,1,Winter
884761,2023-01-01 01:00:00,1,6,1,18536,889,-0.6,53.2,0.7,0.0,1.5,2023,1,1,Winter
893521,2023-01-01 01:00:00,1,6,1,18685,415,-3.2,62.2,0.6,0.0,2.1,2023,1,1,Winter
902281,2023-01-01 01:00:00,1,6,1,18834,108,-1.3,49.9,0.9,0.0,1.2,2023,1,1,Winter
2803200,2023-01-01 01:00:00,1,6,1,12619,151,6.7,61.7,4.2,0.0,-2.3,2023,1,1,Winter

In [13]:
cols_for_test = [
        'tm', 'year', 'season', 'month','day', 'weekday', 'hh24','week_name', 
        'num',
        'stn', 'nph_ta','nph_hm', 'nph_ws_10m',
       'nph_rn_60m', 'nph_ta_chi']

df_test = df_new[cols_for_test]

df_test.head()

,tm,year,season,month,day,weekday,hh24,week_name,num,stn,nph_ta,nph_hm,nph_ws_10m,nph_rn_60m,nph_ta_chi
1,2023-01-01 01:00:00,2023,Winter,1,1,6,1,1,2385,303,7.8,61.5,6.7,0.0,4.2
884761,2023-01-01 01:00:00,2023,Winter,1,1,6,1,1,18536,889,-0.6,53.2,0.7,0.0,1.5
893521,2023-01-01 01:00:00,2023,Winter,1,1,6,1,1,18685,415,-3.2,62.2,0.6,0.0,2.1
902281,2023-01-01 01:00:00,2023,Winter,1,1,6,1,1,18834,108,-1.3,49.9,0.9,0.0,1.2
2803200,2023-01-01 01:00:00,2023,Winter,1,1,6,1,1,12619,151,6.7,61.7,4.2,0.0,-2.3

In [15]:
df_test['tm'].min(), df_test['tm'].max()

(Timestamp('2023-01-01 01:00:00'), Timestamp('2024-01-01 00:00:00'))

In [16]:
df_test.isnull().sum()

tm            0
year          0
season        0
month         0
day           0
weekday       0
hh24          0
week_name     0
num           0
stn           0
nph_ta        0
nph_hm        0
nph_ws_10m    0
nph_rn_60m    0
nph_ta_chi    0
dtype: int64